.tw-follow-card {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.tw-follow-light,
.tw-follow-dark {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2381ACD7' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2381ACD7' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
}

.tw-follow-card-wrap {
  width: 350px;
  box-sizing: border-box;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.1);
}

.tw-follow-light .tw-follow-card-wrap {
  background: #f7f9f9;
}

.tw-follow-title {
  margin: 0;
  color: #000;
  padding: .8rem 1.2rem;
  font-size: 1.25rem;
}

/* Clear night theme */
.tw-follow-dark {
  background-color: #15202B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231E2732'/%3E%3Cstop offset='1' stop-color='%2315202B'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%231D9BF0' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%231D9BF0' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
}

.tw-follow-dark .tw-follow-card-wrap {
  background: #1e2732;
}

.tw-follow-dark .tw-follow-title {
  color: #fff;
}

@media (max-width: 640px) {
  .tw-follow-light,
  .tw-follow-dark {
    width: 100%;
    /* color: #1d9bf0; */
  }
}