.tw-follow-item {
  display: flex;
  max-width: 340px;
}

.tw-follow-header {
  flex: 1 1 100%;
  min-width: 0;
}

.tw-follow-wrap {
  display: flex;
}

.tw-follow-avatar {
  width: 48px;
  height: 48px;
}

.tw-follow-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tw-follow-btn-wrap {
  min-width: 78px;
  text-align: right;
}

.tw-follow-btn.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  min-width: 135px;
}

.tw-follow-btn.is-following:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: 0.3s ease all;
  opacity: 1;
}

.tw-follow-btn.is-following:hover .tw-follow-text {
  display: none;
}

.tw-follow-btn.is-following:hover .tw-stop-following {
  display: block;
}

.tw-stop-following {
  display: none;
}