.Header-bar {
  background: #000;
  color: #fff;
  font-size: .75rem;
  padding: .3rem;

  span:nth-of-type(2) {
    text-transform: uppercase;
  }
}

.Header-nav a {
  font-weight: 300;
  margin: 0 2rem;

  &:hover {
    text-decoration: underline;
  }
}

.Header-checkout {
  background: #000;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;

  span {
    color: #fff;
    margin-top: 7px;
    margin-left: 2px;
    font-size: 22px;
  }
}