:root {
  --green: #25cc88;
  --green-hover: #10b874;
  --white: #fff;
  --blue: #02044a;
  --font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  --semi-transparent: rgba(255, 255, 255, 0.35);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--blue);
  color: var(--white);
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
  border: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    'header header'
    'nav main';
  margin: auto;
  max-width: 1200px;
}

.header {
  border-bottom: 1px solid var(--semi-transparent);
  grid-area: header;
  padding: 1.5rem 0;
}

.header h1 {
  margin-bottom: 0.5rem;
}

.header p {
  font-weight: 300;
  margin-top: 0;
}

.navigation {
  border-right: 1px solid var(--semi-transparent);
  grid-area: nav;
  padding: 3rem 1rem;
}

.navigation li {
  margin-bottom: 3em;
  padding-right: 1rem;
}

.navigation a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  text-align: right;
}

.navigation a strong {
  display: block;
}

.navigation .description {
  font-size: 0.9rem;
  font-weight: 300;
}

.navigation .icon {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-left: 2rem;
  width: 60px;
  height: 60px;
}

.navigation a.active .icon {
  background: var(--green);
}

.main {
  grid-area: main;
  padding: 1rem;
  padding-top: 3rem;
}

.section-title {
  border-bottom: 1px solid var(--semi-transparent);
  font-weight: 400;
  margin-bottom: 4rem;
  padding: 2rem 0;
}

.green-form {
  margin: auto;
  width: 85%;
}

.green-form .form-group {
  margin-bottom: 2.5rem;
}

.green-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.green-form input,
.green-form select {
  background-color: transparent;
  border: 2px solid var(--semi-transparent);
  border-radius: 10px;
  color: var(--white);
  display: block;
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 1.3rem;
  outline: none;
  transition: border 0.2s;
  width: 100%;
}

.green-form input:focus {
  border-color: var(--green);
}

.greenFormCta {
  margin-top: 2rem;
  text-align: right;
}

.green-form button {
  background-color: transparent;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
  min-width: 150px;
  padding: 1.3rem;
  transition: all 0.2s;
}

.green-form button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--white);
}

.green-form button[type='submit'] {
  background-color: var(--green);
}

.green-form button[type='submit']:hover {
  background-color: var(--green-hover);
}

.green-form .error {
  color: #f44336;
  display: block;
  margin: 0.5rem 0;
}
