* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.d-flex,
.d-flex-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.d-flex {
  justify-content: center;
}

.d-flex-between {
  justify-content: space-between;
}

.btn {
  background: transparent;
  border-radius: 40px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1rem;
  cursor: pointer;

  a {
    color: #fff;
  }

  span {
    display: inline-block;
    margin-left: 0.75rem;
    vertical-align: middle;
    margin-bottom: 3px;
  }
}

.Breadcrumbs {
  padding: 1rem 0;

  span {
    color: #181818;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.container-title {
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  text-transform: uppercase;
}
