{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "eslint-config-prettier"
  ],
  "plugins": ["prettier", "import"],
  "rules": {
    "max-lines": ["warn", 160],
    "react/react-in-jsx-scope": "off",
    "no-magic-numbers": [
      "warn",
      {
        "detectObjects": true,
        "enforceConst": true,
        "ignoreArrayIndexes": true
      }
    ],
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-types": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
